In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# os에 따른 Font 깨짐 제거를 위해 Font 지
import os
if os.name =='nt' : 
    font_family = "Malgun Gothic"
else :
    font_family = "AppleGothic"

# - 값이 깨지는 문제 해결을 위해 파라미터 값 설정
sns.set(font = font_family, rc = {"axes.unicode_minus" : False})

In [3]:
# 실습 데이터 생성
temp_dict = { 'A열' : [np.nan, 4 ,6, 5, 5, np.nan],
              'B열' : ['a', 'a', np.nan, 'b', 'b', 'b'],
              'C열' : [np.nan, 3.5, -1.5, np.nan, 5.5, np.nan],
              'D열' : [1, 0, 1, 0, 1, 1]}

missing_data = pd.DataFrame(temp_dict)
missing_data

    A열   B열   C열  D열
0  NaN    a  NaN   1
1  4.0    a  3.5   0
2  6.0  NaN -1.5   1
3  5.0    b  NaN   0
4  5.0    b  5.5   1
5  NaN    b  NaN   1

## 결측값 처리 - 삭제법

In [14]:
#결측값이 들어가 있는 행 제거
missing_data.dropna(axis = 0)

    A열 B열   C열  D열
1  4.0  a  3.5   0
4  5.0  b  5.5   1

In [12]:
# 결측값이 들어가 있는 열 제거
missing_data.dropna(axis = 1)

   D열
0   1
1   0
2   1
3   0
4   1
5   1

## 결측값 처리 - 대치법

In [17]:
missing_data["A열"].fillna(0)

0    0.0
1    4.0
2    6.0
3    5.0
4    5.0
5    0.0
Name: A열, dtype: float64

In [19]:
# 이전 값으로 채우기
missing_data["B열"].fillna(method = "ffill")

C:\Users\YUJUN\AppData\Local\Temp\ipykernel_28720\349755041.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  missing_data["B열"].fillna(method = "ffill")

0    a
1    a
2    a
3    b
4    b
5    b
Name: B열, dtype: object