In [2]:
import pandas as pd
import numpy as np

In [6]:
X_value = np.arange(40).reshape(20, 2)
Y_value = np.arange(20)

sample_df = pd.DataFrame(np.column_stack((X_value, Y_value)), columns = ['X_1', 'X_2', 'result'])

print(sample_df.shape)

sample_df.head()

(20, 3)

   X_1  X_2  result
0    0    1       0
1    2    3       1
2    4    5       2
3    6    7       3
4    8    9       4

In [8]:
sample_df.sample(n = 5, random_state = 1001)

    X_1  X_2  result
1     2    3       1
15   30   31      15
0     0    1       0
2     4    5       2
18   36   37      18

## 층화확률표본추출

In [13]:
from sklearn.model_selection import StratifiedShuffleSplit

group = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
sample_df['group'] = group

print(sample_df["group"].value_counts())
sample_df.head()

group
0    10
1    10
Name: count, dtype: int64

   X_1  X_2  result  group
0    0    1       0      0
1    2    3       1      0
2    4    5       2      0
3    6    7       3      0
4    8    9       4      0

In [17]:
splitfi = StratifiedShuffleSplit(n_splits = 1, test_size = 0.3, random_state = 1001)

for train_idx, test_idx in splitfi.split(sample_df, sample_df['group']):
    print("Train : ", train_idx, "Test : ", test_idx)
    df_strat_train = sample_df.loc[train_idx]
    df_strat_test = sample_df.loc[test_idx]

sample_df.head()

print("Train data 수 확인")
print(df_strat_train.shape)
print("Test data 수 확인")
print(df_strat_test.shape)

Train :  [13  7  1 14 16 12  0 11 10 18  2  8  5  6] Test :  [17 19  3 15  4  9]
Train data 수 확인
(14, 4)
Test data 수 확인
(6, 4)